body {
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) ,url("/static/background.jpg");
	background-size: cover;
	background-position: 0 0;
	padding: 0;
}

h1 {
	color: white;
	margin-left: 50px;
	font-size: 50px;

}

.button{
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	color: white;
	font-size: 1.5em;
	justify-content: center;
	align-items: center;
	background: Navy;
	margin-left: 100px;
	border:5px solid #3498DB;
}	

.button:hover {
	background: blue;
	color: white;
}

p, li {
	color: white;
	font-size: 25px;
	margin-left: 50px;
	margin-bottom: 50px;  
}


.column {
	width: 30%;
	margin-left: 100px;
	margin-right: 100px;
	display:inline-block;
}

.center {
	margin: auto;
	width: 80%;
}